body{
    margin: 0%;
}
#first-header{
    font-family: 'Abril Fatface', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-size: 350%;
    padding-left: 10px;
    border-left: 4px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 20%;
    margin-top: 15%;
    border-color: rgb(61, 136, 255);
    height: 135px;
    color: rgb(62, 62, 62);
}
h2{
    text-align: center;
    font-size: 325%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Sail', cursive;
    font-family: 'Vidaloka', serif;
}
h3{
    padding-left: 15px;
}
#last-h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(62, 62, 62);
    font-size: 250%;
    padding-top: 25%;
}
.header-four{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 62, 62);
    font-size: 250%;
}
.color-blue{
    color: rgb(61, 136, 255);
}
a{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgb(61, 136, 255);
    border-radius: 5px;
}
#first-link{
    font-size: 93%;
    padding: 12px 37px;
    margin-left: 20%;
}
#second-link{
    font-size: 93%;
    padding: 13px 30px;
    margin-left: 0%;
    margin-top: 50%;
}
#third-link{
    font-size: 93%;
    padding: 13px 30px;
    margin-top: 50%;
}
#p-one{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 62, 62);
    font-size: 120%;
    margin-left: 20%;
    padding-bottom: 15px;
}
.p-two{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 62, 62);
    font-size: 100%;
    margin-left: 20%;
    padding-top: 30px;
}
.p-three{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
}
.p-four{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(62, 62, 62);
    font-size: 120%;
    padding-bottom: 15px;
}
#p-five{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(166, 230, 255);
    font-size: 120%;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 25%;
}
.mission-vision-goals{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 170%;
}
section{
    display: flex;
}
#section-two{
    margin-left: 60px;
    margin-right: 60px;
    height: 150%;
}
#section-three{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 212px;
    background-position: 16%;
    width: 40%;
}
#section-four{
    width: 50%;
    padding-left: 135px;
    padding-top: 110px;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 20px;
}
.half-width img{
    width: 62%;
    float: inline-start;
    padding-left: 11%;
}
#coding-image{
    width: 71%;
    margin-left: 135px;
    padding-top: 80px;
}
#project-image{
    width: 79%;
    padding-top: 90px;
    margin-left: 85px;
}
#div-one{
    width: 50%;
    padding-top: 80px;
    padding-left: 4%;
}
#div-two{
    width: 40%;
    padding-right: 9%;
}
#div-three{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 50%;
    width: 50%;
    margin-left: 27%;
    margin-right: 25%;
}
.illustrators{
    width: 45%;
    padding: 10px;
    padding-bottom: 0px;
}
.illustrators-one{
    border: 1px solid rgb(235, 245, 246);
    border-radius: 20px;
    padding: 15px 15px;
    padding-bottom: 20px;
    background-color: rgb(235, 245, 246);
    width: 25%;
    margin-left: 75px;
}
.illustrators-two{
    border: 1px solid rgb(255, 237, 237);
    border-radius: 20px;
    padding: 15px 15px;
    padding-bottom: 20px;
    background-color: rgb(255, 237, 237);
    width: 25%;
    margin-left: 25px;
    margin-right: 25px;
}
.illustrators-three{
    border: 1px solid rgb(255, 243, 210);
    border-radius: 20px;
    padding: 15px 15px;
    padding-bottom: 20px;
    background-color: rgb(255, 243, 210);
    width:25%;
    margin-right: 75px;
}
#footer{
    padding-top: 5px;
    padding-top: 150px;
}
#footer-two{
    text-align: center;
    padding: 15px 40px;
    background-color: black;
}
#footer-three{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Sail', cursive;
    font-family: 'Vidaloka', serif;
    font-size: 200%;
    color: white;
    padding-top: 20px;
}
#footer-four{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    color: rgb(94, 108, 160);
    padding-bottom: 20px;
}