#first-header{
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Sail', cursive;
    font-family: 'Vidaloka', serif;
    font-size: 400%;
    border-left: 4px solid;
    padding-left: 10px;
    border-top-style: hidden;
    margin-left: 20%;
    margin-top: 15%;
    border-color: rgb(255, 70, 81);
    height: 140px;
}
h2{
    text-align: center;
    font-size: 325%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Sail', cursive;
    font-family: 'Vidaloka', serif;
}
h3{
    padding-left: 15px;
}
#forth-header{
    font-size: 250%;
}
.color-orange{
    color: rgb(255, 168, 69)
}
a{
    
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, rgb(255, 93, 104),rgb(255, 72, 72));
    border-radius: 5px;
}
#first-link{
    padding: 15px 42px;
    margin-left: 20%;
}
#second-link{
    padding: 15px 42px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom, rgb(255, 93, 104),rgb(255, 72, 72));
    border-radius: 5px;
    margin-left: 0%;
    margin-top: 50%;
}
.paragraph{
    font-size: 150%;
    margin-left: 20%;
    padding-bottom: 10px;
}
.paragraph-two{
    font-size: 150%;
    margin-left: 20%;
    padding-top: 10px;
}
.paragraph-three{
    padding-left: 15px;
    padding-right: 15px;
    
}
.paragraph-four{
    font-size: 150%;
    padding-bottom: 10px;
}
section{
    display: flex;
}
#section-two{
    margin-left: 60px;
    margin-right: 60px;
    height: 150%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 59%;
    float: inline-start;
    padding-left: 11%;
}
#coding-image{
    width: 71%;
    margin-left: 135px;
    padding-top: 80px;
    
}
#third-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 212px;
    background-position: 16%;
    width: 40%;
}
#div{
    width: 50%;
    padding-top: 80px;
    padding-left: 4%;
}
.half-width-second{
    width: 50%;
}
.illustrators{
    width: 40%;
    padding: 10px
}
.illustrators-one{
    border: 1px solid rgb(235, 245, 246);
    border-radius: 20px;
    padding: 25px 15px;
    background-color: rgb(235, 245, 246);
    width: 25%;
    margin-left: 75px;
}
.illustrators-two{
    border: 1px solid rgb(255, 237, 237);
    border-radius: 20px;
    padding: 25px 15px;
    background-color: rgb(255, 237, 237);
    width: 25%;
    margin-left: 25px;
    margin-right: 25px;
}
.illustrators-three{
    border: 1px solid rgb(255, 243, 210);
    border-radius: 20px;
    padding: 25px 15px;
    background-color: rgb(255, 243, 210);
    width: 25%;
    margin-right: 75px;
}